<div class="app-container" [ngClass]="{ fullscreen: calendarFullscreen }">
  <div class="app-header">
    <h1>Kalendae</h1>

    <div class="actions">
      <button (click)="toggleCalendarFullscreen()">
        <svg
          *ngIf="calendarFullscreen; else maximize"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Myna UI Icons by Praveen Juge - https://github.com/praveenjuge/mynaui-icons/blob/main/LICENSE -->
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M9.75 3.01c-.04 2.79-.247 4.37-1.308 5.432C7.38 9.502 5.799 9.71 3.01 9.75M9.75 21c-.04-2.79-.247-4.371-1.308-5.432S5.799 14.3 3.01 14.26M14.26 3.01c.04 2.79.247 4.37 1.308 5.432C16.629 9.502 18.211 9.71 21 9.75M14.26 21c.04-2.79.247-4.371 1.308-5.432S18.211 14.3 21 14.26"
          />
        </svg>
        <ng-template #maximize>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <!-- Icon from Myna UI Icons by Praveen Juge - https://github.com/praveenjuge/mynaui-icons/blob/main/LICENSE -->
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M9.4 21c-2.24 0-3.36 0-4.216-.436a4 4 0 0 1-1.748-1.748C3 17.96 3 16.84 3 14.6m18 0c0 2.24 0 3.36-.436 4.216a4 4 0 0 1-1.748 1.748C17.96 21 16.84 21 14.6 21m0-18c2.24 0 3.36 0 4.216.436a4 4 0 0 1 1.748 1.748C21 6.04 21 7.16 21 9.4M9.4 3c-2.24 0-3.36 0-4.216.436a4 4 0 0 0-1.748 1.748C3 6.04 3 7.16 3 9.4"
            />
          </svg>
        </ng-template>
      </button>
    </div>
  </div>

  <div class="app-calendar">
    <app-calendar (openEventDialog)="handleEventDialogOpen($event)" (eventClicked)="handleEventClick($event)"></app-calendar>
  </div>

  <div class="app-week-view">
    <app-week-view (eventClicked)="handleEventClick($event)" (cellClicked)="handleCellClick($event)"></app-week-view>
  </div>
</div>

@if (eventDialogOpen()) {
  <app-event-dialog 
    [eventDate]="selectedDate" 
    [existingEvent]="selectedEvent"
    [preSelectedMember]="selectedMember"
    (dialogClosed)="handleEventDialogClose()" 
    (eventSaved)="handleEventSaved()"
    (eventDeleted)="handleEventDeleted()">
  </app-event-dialog>
}

<router-outlet />
