<div class="week-header">
  <div class="week-info">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
      <!-- Icon from Myna UI Icons by Praveen Juge - https://github.com/praveenjuge/mynaui-icons/blob/main/LICENSE -->
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="M16.5 5V3m-9 2V3M3.25 8h17.5M3 10.044c0-2.115 0-3.173.436-3.981a3.9 3.9 0 0 1 1.748-1.651C6.04 4 7.16 4 9.4 4h5.2c2.24 0 3.36 0 4.216.412c.753.362 1.364.94 1.748 1.65c.436.81.436 1.868.436 3.983v4.912c0 2.115 0 3.173-.436 3.981a3.9 3.9 0 0 1-1.748 1.651C17.96 21 16.84 21 14.6 21H9.4c-2.24 0-3.36 0-4.216-.412a3.9 3.9 0 0 1-1.748-1.65C3 18.128 3 17.07 3 14.955z" />
    </svg>
    <h3>{{ getCurrentWeekLabel() }}</h3>
  </div>
  <div class="navigation-buttons">
    <button (click)="prevWeek()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          fill="currentColor"
          d="M17.77 3.77L16 2L6 12l10 10l1.77-1.77L9.54 12z"
        />
      </svg>
    </button>
    <button (click)="nextWeek()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          fill="currentColor"
          d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z"
        />
      </svg>
    </button>
  </div>
</div>

<div class="week-grid" (wheel)="onWheelScroll($event)">
  <table>
    <thead>
      <tr>
        <th [width]="130"></th>
        @for(member of familyMembers; track member; let idx = $index) {

        <th>
          <img src="images/family/avatar_{{ idx }}.png" alt="{{ member }}" />
          <div>
            {{ member }}
          </div>
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for(date of currentWeek; track date) {
      <tr>
        <td [ngClass]="{ 'expired-date': date < today }">
          <div class="day-name">{{ date | date : "EEEE" }}</div>
          <div class="day-number">
            {{ date | date : "d"
            }}<span class="suffix">{{ getDatesSuffix(date) }}</span>
          </div>
        </td>
        @for(member of familyMembers; track member) {
        <td [ngClass]="{ expired: date < today }" (click)="onCellClick(date, member, $event)">
          <div class="events-container">
            <div class="all-day-events">
              @for(event of getEventsForDateAndParticipantIncludingMultiDay(date, member); track event.id) {
                @if(event.isAllDay) {
                  <div class="event-wrapper" 
                       [style.margin-left.px]="isMultiDayEvent(event) ? getEventColumn(event, member) * 24 : 0"
                       [attr.data-event-id]="event.id">
                    <div class="event-item all-day" 
                         [ngClass]="{ 
                           'multi-day': isMultiDayEvent(event), 
                           'google-calendar': event.isGoogleCalendarEvent,
                           'highlighted': isEventHighlighted(event)
                         }" 
                         (click)="onEventClick(event)"
                         (mouseenter)="onEventMouseEnter(event)"
                         (mouseleave)="onEventMouseLeave(event)">
                      <div class="event-content">
                        <div class="event-title">
                          @if(event.isGoogleCalendarEvent) {
                            <svg class="google-calendar-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                              <path fill="currentColor" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/>
                            </svg>
                          }
                          {{ event.title }}
                        </div>
                        <div class="event-time">
                          @if(isMultiDayEvent(event)) {
                            Day {{ getEventDayNumber(event, date).dayNumber }} of {{ getEventDayNumber(event, date).totalDays }}
                          } @else {
                            {{ formatEventTime(event) }}
                          }
                        </div>
                      </div>
                      @if(getOtherParticipants(event, member).length > 0) {
                        <div class="event-participants">
                          @for(participant of getOtherParticipants(event, member); track participant) {
                            <img 
                              src="images/family/avatar_{{ getFamilyMemberAvatarIndex(participant) }}.png" 
                              alt="{{ participant }}"
                              class="participant-avatar"
                              title="{{ participant }}"
                            />
                          }
                        </div>
                      }
                    </div>
                  </div>
                }
              }
            </div>
            <div class="timed-events">
              @for(event of getEventsForDateAndParticipantIncludingMultiDay(date, member); track event.id) {
                @if(!event.isAllDay) {
                  <div class="event-wrapper" 
                       [style.margin-left.px]="isMultiDayEvent(event) ? getEventColumn(event, member) * 24 : 0"
                       [attr.data-event-id]="event.id">
                    <div class="event-item timed" 
                         [ngClass]="{ 
                           'multi-day': isMultiDayEvent(event), 
                           'google-calendar': event.isGoogleCalendarEvent,
                           'highlighted': isEventHighlighted(event)
                         }" 
                         (click)="onEventClick(event)"
                         (mouseenter)="onEventMouseEnter(event)"
                         (mouseleave)="onEventMouseLeave(event)">
                      <div class="event-content">
                        <div class="event-title">
                          @if(event.isGoogleCalendarEvent) {
                            <svg class="google-calendar-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                              <path fill="currentColor" d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/>
                            </svg>
                          }
                          {{ event.title }}
                        </div>
                        <div class="event-time">
                          @if(isMultiDayEvent(event)) {
                            Day {{ getEventDayNumber(event, date).dayNumber }} of {{ getEventDayNumber(event, date).totalDays }}
                          } @else {
                            {{ formatEventTime(event) }}
                          }
                        </div>
                      </div>
                      @if(getOtherParticipants(event, member).length > 0) {
                        <div class="event-participants">
                          @for(participant of getOtherParticipants(event, member); track participant) {
                            <img 
                              src="images/family/avatar_{{ getFamilyMemberAvatarIndex(participant) }}.png" 
                              alt="{{ participant }}"
                              class="participant-avatar"
                              title="{{ participant }}"
                            />
                          }
                        </div>
                      }
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

