<div class="calendar-container">
  <div class="calendar-header">
    <div class="navigation-buttons">
      <button (click)="prevMonth()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path
            fill="currentColor"
            d="M17.77 3.77L16 2L6 12l10 10l1.77-1.77L9.54 12z"
          />
        </svg>
      </button>
      <button (click)="today()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path
            fill="currentColor"
            d="M17 13h-5v5h5zM16 2v2H8V2H6v2H3.01L3 22h18V4h-3V2zm3 18H5V9h14z"
          />
        </svg>
      </button>
      <button (click)="nextMonth()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path
            fill="currentColor"
            d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z"
          />
        </svg>
      </button>
    </div>
    <div class="month-name">{{ currentMonth | date : "MMMM yyyy" }}</div>
  </div>
  <div class="calendar-grid">
    <div class="days">
      @for(day of daysOfWeek; track day) {
      <div class="day">{{ day }}</div>
      }
    </div>

    <div class="dates" style="--c-offset: {{ startOfMonthOffset }}">
      @for(date of datesInCurrentMonth; track date; let idx = $index) {
      <div
        class="date"
        [ngClass]="{ today: isToday(date) }"
        (click)="selectDate(date)"
      >
        <div class="date-number">{{ date | date : "d" }}</div>
        <div class="event-indicators">
          @for(member of getFamilyMembersWithEventsOnDate(date); track member) {
          <div
            class="event-dot"
            [style.background-color]="getFamilyMemberColor(member)"
            [title]="member + ' has events'"
          ></div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
@if (upcomingEventsEnabled) {
<div class="upcoming-events-section">
  <div class="section-header">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M12 8v4l2 2m6-6a9 9 0 1 1-18 0a9 9 0 0 1 18 0"
      />
    </svg>
    <h4>Upcoming Events</h4>
  </div>

  <div class="upcoming-events-list">
    @for(event of getAllUpcomingEvents(); track event.id) {
    <div class="event-item" (click)="onEventClick(event)">
      <div class="event-main">
        <div class="event-header">
          <div class="event-title">{{ event.title }}</div>
          <div class="event-datetime">{{ formatEventDateTime(event) }}</div>
        </div>

        @if(event.description) {
        <div class="event-description">{{ event.description }}</div>
        } @if(event.location) {
        <div class="event-location">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M12 21c3.5-3.6 7-6.824 7-10.8C19 6.224 15.866 3 12 3s-7 3.224-7 7.2c0 3.976 3.5 7.2 7 10.8"
            />
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M12 12a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
            />
          </svg>
          <span>{{ event.location }}</span>
        </div>
        }
      </div>

      <div class="event-participants">
        @for(participant of event.participants; track participant; let idx =
        $index) {
        <div
          class="participant-avatar"
          [style.background-color]="getFamilyMemberColor(participant)"
          title="{{ participant }}"
        >
          <img
            src="images/family/avatar_{{
              getFamilyMemberAvatarIndex(participant)
            }}.png"
            alt="{{ participant }}"
          />
        </div>
        }
      </div>
    </div>
    } @empty {
    <div class="no-upcoming-events">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M16.5 5V3m-9 2V3M3.25 8h17.5M3 10.044c0-2.115 0-3.173.436-3.981a3.9 3.9 0 0 1 1.748-1.651C6.04 4 7.16 4 9.4 4h5.2c2.24 0 3.36 0 4.216.412c.753.362 1.364.94 1.748 1.65c.436.81.436 1.868.436 3.983v4.912c0 2.115 0 3.173-.436 3.981a3.9 3.9 0 0 1-1.748 1.651C17.96 21 16.84 21 14.6 21H9.4c-2.24 0-3.36 0-4.216-.412a3.9 3.9 0 0 1-1.748-1.65C3 18.128 3 17.07 3 14.955z"
        />
      </svg>
      <div class="no-events-text">No upcoming events</div>
      <div class="no-events-subtext">
        Your calendar is clear for the next two weeks
      </div>
    </div>
    }
  </div>
</div>
}
